<!-- <html>
<head>
  <title> travelbook </title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="header">
  <p> travelbook </p>
</div>
<div id="background"></div>
<div id="loginbutton_box">
<a id="loginbutton" href="/login">Login</a>
</div>
</body>
</html> -->


<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/style.css"/>
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<title>Login</title>
</head>
<body>
<div id="navbar"> <div id="navbar_title"><p>travelbook</p>
  <div>
    <a href="/">Home</a>
    <a href="/newtrip">Add A Trip</a>
    <a href="/newpicture">Add A Picture</a>
    <a href="/triplist">My Trips</a>
    <a href="/maps">Maps</a>
    <a href="login">Login</a>
    <a href="/logout">Logout</a>
  </div>
</div>

</div>

<div id="splashtitle">A Collaborative Photo Sharing Experience</div>

<div id="maintext">


</div>

</body>
</html>
