<!DOCTYPE html>
<html>
<head>
  <!-- Getting the Google Maps API script -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <!-- Getting the jQuery script You will need to activate the API and get your own key from appengine.google.com -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA466qXDGXC4IiVXuXj951UIeaG1FZHC10 "></script>
  <!-- This is our script -->
  <script type="text/javascript" src="scripts/script.js"></script>
  <!-- And finally our script -->
  <link type="text/css" rel="stylesheet" href="static/maps.css"/>
</head>
<body>
    <div id="form_container">
      <!--<form method="post" id="coord_form" class="user_form">
        <label>Enter Coordinates:</label><br>
        <div class="coordinate_input">
          <label>Lat:</label><input id="lat" name="lat" type="text"/>
          <br>
          <label>Lon:</label><input id="lon" name="lon" type="text"/>
        </div>
        <input name="submit_button" type="submit" id="coord_submit" class="submit_btn"/>
      </form>!-->
      <form method="post" id="address_form" class="user_form">
        <label>Whats the address?</label><input id="address" name="address" type="text"/>
        <input name="submit_button" type="submit" id="address_submit" class="submit_btn"/>
      </form>
    </div>
    <br>
    <div id="map-container">
      <div id="map-canvas"></div>
    </div>
  </div>
<body>
</html>
