<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/triptimelinestyles.css"/>
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet" >
<title>Login</title>
</head>
<body>
<div id="navbar"> <div id="navbar_title"><p>travelbook</p></div></div>

<div id="loginbutton">
</div>

<div id="maintext">

</div>


<h1 id="trip_title">Trip 1</h1>
<h1 id="trip_title_description">Location | Date</h1>

<div id="all_trips">
  <div><p id="trip_attr">Time | Place</p><img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" /> <p id="trip_attr">Description: <br> Information:</p></div>
  <div><p id="trip_attr">Time | Place</p><img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" /> <p>Description: <br> Information:</p></div>
  <div><p id="trip_attr">Time | Place</p><img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" /> <p>Description: <br> Information:</p></div>
</div>

</body>
</html>
