<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/tripliststyles.css"/>
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet" >
<title>Login</title>
</head>
<body>
<div id="navbar"> <div id="navbar_title"><p>travelbook</p></div></div>

<div id="loginbutton">
</div>

<div id="maintext">

</div>


<h1 id="trip_title">All Trips </h1>

<div id="all_trips">
  {% for key, trip in trips.iteritems() %}
  <div><p>{{ trip.name }} </p><img src="/img?img_id={{ key }}"></img></div>
  {% endfor %}
  <div><p>Time | Place</p><img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" /></div>
  <div><p>Time | Place</p><img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" /></div>
</div>

</body>
</html>
