<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/triptimelinestyles.css"/>
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet" >
<title>Login</title>
</head>
<body>
<div id="navbar"> <div id="navbar_title"><p>travelbook</p></div></div>

<div id="loginbutton">
</div>

<div id="maintext">

</div>


<h1 id="trip_title">{{trip_name}}</h1>

<div id="all_trips">
  <!-- For every one of the records you find, output single line with the (Jinja to repeat the pictures) -->
  {% for key, picture in pictures.iteritems() %}
  <div><p id="trip_attr">{{ picture.date }} | {{ picture.location }}</p><img src="/img?img_id={{ key }}" /> <p id="trip_attr">{{picture.description}} <br></div>
  {% endfor %}
</div>

</body>
</html>
