<html>
<head>
<link rel="stylesheet" type="text/css" href="static/upload_style.css" />
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
<title>Upload</title>
</head>
<body>

<div id="navbar"> <div id="navbar_title"><p>travelbook</p></div></div>

<div id="maintext">

</div>
<!-- <form action ="/shoesaved"> -->

<div id="form">
  <form action="/upload" method="post">
  <div> Trip: <input type="text" name="trip" id="#trip"></div>
  <div> Location: <input type="text" name="location"></div>
  <div> Date: <input type="text" name="date"></div>
  <div> Description: <input type="text" name="description"></div>
  <div> Comments: <input type="text" name="comments"></div>
  <div class="blank"> Submit an image: <input type="file" name="image" accept ="image/*"> </div>

<div id="submission_button"> <input type="submit" value="Save"> </div>

  </form>

</div>
</body>
</html>
